@model PNT_PROYECTO.Models.Profesor

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar</h1>

<h3>¿Estás seguro de esto?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre y Apellido
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreApellido)
        </dd>

        <dt class="col-sm-2">
            Jerarquia
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt class="col-sm-2">
            Fecha de ingreso
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt class="col-sm-2">
            Contacto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mail)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Legajo" />
        <input type="submit" value="Borrar" class="btn btn-danger my-4" /> 
        <br/>
        <a asp-action="Index">Volver</a>
    </form>
</div>
