@model IEnumerable<PNT_PROYECTO.Models.ProfeARegistrar>

@{
    ViewData["Title"] = "Index";
}

<h1>Profesores a registrar</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Nombre y Apellido
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                Fecha de Inicio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    <a asp-action="Aceptar" asp-route-id="@item.Id">Aceptar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Rechazar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
