@model PNT_PROYECTO.Models.Material

@{
    ViewData["Title"] = "Detalles";
}

<h1>Material</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Titulo)</h4>

    <p><b>Autor: @Html.DisplayFor(model => model.Profe.NombreApellido)</b></p>

    <p> @Html.DisplayFor(model => model.Texto)</p>

    <a asp-action="Download" asp-route-id="@Model?.Id">@Html.DisplayFor(model => model.FileName)</a>
    <br />
    <p></p>
</div>



<div>
    @if (User.IsInRole("ADMIN") || User.IsInRole("ADJUNTO") || User.IsInRole("ATPJTP"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Modificar</a>
        <span>|</span>
    }
    <a asp-action="Index">Volver</a>
</div>
@if (User.IsInRole("ADMIN"))
{
    <div>
        <p class="mt-4">Veces visto: @Html.DisplayFor(model => model.VecesVisto)</p>
        <p>Veces descargado: @Html.DisplayFor(model => model.VecesDescargado)</p>
    </div>
}