@model IEnumerable<PNT_PROYECTO.Models.Alumno>

@{
    ViewData["Title"] = "Alumnos";
}

<h1>Alumnos</h1>

@*boton que fue reemplazado por el registrar
<p>
    <a asp-action="Create">Create New</a>
</p>
*@
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre y Apellido
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @if (User.IsInRole("ADMIN"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Legajo">Modificar</a>
                        <span>|</span>
                    }

                    <a asp-action="Details" asp-route-id="@item.Legajo">Perfil</a>
                    @if (User.IsInRole("ADMIN"))
                    {
                        <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.Legajo">Borrar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
