@model IEnumerable<PNT_PROYECTO.Models.Ingreso>


@{
    ViewData["Title"] = "Estadisticas de ingreso";
}

<a class="text-dark"  asp-controller="ProfesARegistrar" asp-action="Index">Notificaciones</a>

<h1>Cantidad de ingresos</h1>

<p>de profesores: @ViewBag.cantIngresosProfesor</p>
<p>de Alumnos: @ViewBag.cantIngresosAlumno</p>
<p>totales: @(ViewBag.cantIngresosProfesor + ViewBag.cantIngresosAlumno)</p>

<h1>Historial de ingresos a la pagina</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.horaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario.NombreApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario.Legajo)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.horaIngreso)
                </td>
                <td class="hola">
                    @if (item.usuario is Profesor)
                    {
                        <a asp-controller="Profesores" asp-action="Details" asp-route-id="@item.usuario.Legajo">@Html.DisplayFor(modelItem => item.usuario.NombreApellido)</a>
                    }
                    else
                    {
                        <a asp-controller="Alumnos" asp-action="Details" asp-route-id="@item.usuario.Legajo">@Html.DisplayFor(modelItem => item.usuario.NombreApellido)</a>
                    }
                </td>
                <td class="hola">
                    @Html.DisplayFor(modelItem => item.usuario.Legajo)
                </td>
            </tr>
        }
    </tbody>
</table>



